* text=auto eol=lf working-tree-encoding=UTF-8

*.png binary
*.jpg binary
*.jpeg binary
*.webp binary
*.ico binary
*.woff binary
*.woff2 binary

*.svg text
*.md text
*.ts text
*.tsx text
*.js text
*.json text
*.css text
*.sql text
